:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo:active {
  color: crimson;
}

.part-logo {
  color: var(--accent-color);
}

.footer {
  background: #2f303a;
}

.part-logo-footer {
  color: var(--primary-white-color);
}

.adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}

.mail, .phone {
  font-size: 14px;
  line-height: 1.71;
 /* or 171% */
 color: rgba(255, 255, 255, 0.6);
}

.social-link {
  color: var(--primary-white-color);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

.social-link:active {
  color: crimson;
}

.sign-up {
  font-weight: 900;
 font-size: 16px;
 line-height: 1.87;
/* identical to box height, or 187% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--primary-white-color);
}

.site-nav-link {
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link :hover,
.site-nav-link :focus {
  color: var(--accent-color);
}

.site-nav-link :active {
  color: crimson;
}

.site-nav-link-current {
 color: var(--accent-color);
}

.join-title, .sign-title {
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-transform: uppercase;
 color: var(--primary-white-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.hero :hover,
.hero :focus {
  color: var(--accent-color);
}

.hero :active {
  color: crimson;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.duties-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.parargraph-text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  color: #757575;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
}

* {
  box-sizing: border-box;
}

.button {
  font-family: inherit;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  outline: none;
}

.button.primary {
  color: var(--title-text-color)
  background-color: #f5f4fa;
  border-color: transparent;
}

.order-service {
  --h: 50px;
/*   min-width: 200px; */
  padding: 0 32px; /* гарантия отступов при увеличении длинны текста*/
  
  height: var(--h);      /* центрирование одной линии текста по вертикали */
  line-height: var(--h);  /* центрирование одной линии текста по вертикали */
 
  cursor: pointer;
  
    /* текст */
  text-align: center; /* центрирование  по горзонтали */
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
  /* цвета */
  color: var(--primary-white-color);
  background: var(--accent-color);
  
  /* украшения   */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order-service:hover,
.order-service:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.order-service:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

div {
  margin: 1rem;
  text-align: center;
}

.services {
  --h: 50px;
/*   min-width: 200px; */
  padding: 0 32px; /* гарантия отступов при увеличении длинны текста*/
  
  height: var(--h);      /* центрирование одной линии текста по вертикали */
  line-height: var(--h);  /* центрирование одной линии текста по вертикали */
 
  cursor: pointer;
  
    /* текст */
  text-align: center; /* центрирование  по горзонтали */
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
  /* цвета */
  color: var(--primary-black-color);
  background: var(--primary-white-color);
  
  /* украшения   */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.services:hover,
.services:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.services:active {
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
}

div {
  margin: 1rem;
  text-align: center;
}

.features-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.feature-type {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  color: #757575;
}

ul {
  list-style: none;
}

 a {
 text-decoration: none;
 color: inherit;
 }

 address {
font-style: inherit;
}
